header{
    position : fixed;
    top : 0px;
    left : 0px;
    width : 100%;
    font-size : 14px;
    box-sizing : border-box;
    display : flex;
    flex-wrap : nowrap;
    align-items : center;
    justify-content : space-between;
    gap : 35px;
    height : 35px;
    font-family : 'Nunito', sans-serif;
    background-color: #000538;
    color : #fff;

}

body{
    background-color : #eee;
    background-image : url(images/Site-background-light.png);
    background-position : bottom left;
    background-size : auto;
    background-repeat : no-repeat;
    background-attachment: fixed;
    font-family : sans-serif;
    accent-color : #fa9549;
    box-sizing : border-box;
    height : auto;
    min-height : 100%;
    margin : 0px;
    display : block;
}

#mw-page-base{
    height : 96px;
    padding-top : 35px;
    background : none;
}

#mw-head-base{
    background : #00000000;
    margin-top : -96px;
    margin-left : 185.6px;
    height : 96px;
}

.content-wrapper{
    font-family : "Noto Sans", system-ui, sans-serif;

}

#mw-data-after-content{
    margin-left: 160px;
}

#footer{
    margin-right: 0px;
    border-top-width : 0px;
    color : #111111;
    background-color: #e0e0e0f2;
    border : 0px solid #aaaaaa;
    direction: ltr;
    margin-left : 160px;
    padding : 12px;
    border-radius : 24px;
}

.header-left{
    display : flex;
    align-items : center;
    gap : 11.2px;
}

.wiki-btn{
    padding : 5px;
}

.wiki-btn img{
    height : 25px;
    width : auto;
    border : 0px;
    vertical-align : middle;
}

.deals-btn{
    display : inline-flex;
    align-items : center;
    box-sizing : border-box;
    gap : 5px;
    height : 20px;
    padding : 10px;
    border-radius : 5.6px;
    background-color : #29305c;
    white-space : nowrap;
    transition: background-color 0.2s;
    color : #fff;
}
.deals-btn img{
    width : 14px;
    height : 14px;
    border: 0px;
    vertical-align : middle;

    overflow-clip-margin : content-box;
    overflow : clip;
}

.header-right{
    position : static;
    width : 196.99;
    height : 32.79;
    display : flex;
    flex-wrap : nowrap;
    align-items : center;
    justify-content : flex-end;
    gap : 10.5px;
    list-style : none;
    margin : 0px;
}

.icon-btn{
    display : block;
    padding : 6.4px;
    font-size : 0px;
    transition : all 0.3s;
}

.icon-btn img{
    width : 20px;
    height : 20px;
    background : #FFFFFF;
}

.link{
    word-break : keep-all;
    white-space : nowrap;
    color : #fff;
    font-family : 14px, Nunito, sans-serif;
    width : 93,7px;
    height : 18.67px;
    margin-bottom: 0;
}

.link login{
    width : 38.33px;
    height : 18.67px;
    color : #fff;
    font-family : 14px, Nunito, sans-serif;
    
}



a{
    text-decoration : none;
}

a:hover{
    text-decoration : underline;
}